.header{
  overflow:hidden;
  background-color: blue;
  padding: 5px;
  height: 170;

  

}

img{
  border-radius: 50%;
  margin-left:360 ;
  margin-top:30 ;
  
  
   
}


#img3:hover{
  cursor:pointer;
  
}

#img3 {
  margin-left:1250 ;
}


  






#img2 {
  float:right ;
  text-align: center;
  margin-right: 550;
  border-radius: 4%;
  margin-top: 5;
  position: relative; top: -140;
  
  
  
  
}

nav {
  list-style: none;

}

li{
  display: inline-table;
  padding: 10px;
  background-color:white;
  margin-top: 30;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blue;
  border-radius: 10%;
}

li:hover{
  cursor:pointer;
  background-color: aqua;
  color: white;
}

h1 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  margin-left: 610px;
  margin-top: 100px;
  height: 105px;
  background-color: blue;
  bottom: 20px;
  font-display: lighten;
  width: 830px;
  text-align: center;
  text-underline-position: below;
  
  



}


article {
  background-color: blue;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 350px;
  margin-top: 80px;
  border-radius: 20px;
  height: 300px;
}




button:hover {
  background-color:aqua ;
  box-shadow: 0px 0px;
}

.box {
  padding: 20px;
  background-color: white;
  color: blue;
  margin: 12px;
  margin-left: 100px;
  margin-right:100px;
  margin-top: ;

}