.header{
  overflow:hidden;
  background-color: blue;
  padding: 5px;
  height: 170;

  

}

img{
  border-radius: 50%;
  margin-left:360 ;
  margin-top:30 ;
  
  
   
}


#img3:hover{
  cursor:pointer;
  
}

#img3 {
  margin-left:1250 ;
}


  






#img2 {
  float:right ;
  text-align: center;
  margin-right: 550;
  border-radius: 4%;
  margin-top: 5;
  position: relative; top: -140;
  
  
  
  
}

nav {
  list-style: none;

}

li{
  display: inline-table;
  padding: 10px;
  background-color:white;
  margin-top: 30;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  border-radius: 10%;
  font-weight: bold;
}

li:hover{
  cursor:pointer;
  background-color: aqua;
  color: white;
}

h1 {
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  margin-left: 480;
  margin-top: -100px;

}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 450px;
  margin-top: 50px;
}






button {
  padding: 20px;
  border: 0;
  background-color: blue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 570;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  margin-top: 60px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: aqua;
  box-shadow: 0px 0px;

}


select {
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 20px;
  background-color:blue;
  margin-left: 250px;
  border: 0px;
  box-shadow: 5px 5px black;
  color: white;
  margin-top: 50;
  font-weight: bold;
}

select:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
  box-shadow: 0px 0px;
}

.card {
  background-color: lightgray;
  margin-top: 100px;
  height: 500px;
  width: 1200px;
  margin-left: 80px;
  
}


.footer {
  margin-top: 100px;
  background-color: blue;
  height: 195px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.footer img {
  margin-left: 600px;
  margin-top: 40px;
  border-radius: 0px;
  
}

.footer p {
  margin-left: 500;
}


